* {
	margin: 0;
	padding: 0;	
}

body {
	font-family: 'Viga', sans-serif;
}

a {
	text-decoration: none;
}

section {
	width: 100%;
}

.main {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	margin: auto;
	width: 96%;
}


header {
	margin-top: 20px;
	width: 100%;
}

.nav {
	font-size: 150%;
	text-transform: uppercase;
}

.nav ul {
	height: 100%;
	list-style: none;
}

.nav ul li {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 33%;
	justify-content: center;
	padding: 10px;
}

#nav-about {
	border-top: 1px solid black;
}

#nav-projects {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#nav-contact {
	border-bottom: 1px solid black;
}

.name {
	align-items: center;
	display: flex;
	font-size: 250%;
	justify-content: center;
	padding: 20px 0;
}

.name-letter {
	margin: 0 2%;
	position: relative;
}

#avatar {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#head {
	background-color: black;
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.section-title {
	font-size: 36px;
	text-transform: uppercase;
	width: 100%;
}

.about-body {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 36px;
	padding: 30px 0;
}

.about-body p {
	box-sizing: border-box;
	padding: 25px;
}

.about-body p:nth-of-type(1) {
	grid-row: 1 / span 2;
}

#about-icons {
	background: black;
	color: white;
	grid-column: 2 / span 2;
	display: flex;
	justify-content: center;
	align-items: center;
}

#projects {
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 50px;
	width: 100%;
}

.project {
	height: 500px;
	margin-bottom: 25px;
	position: relative;
}

.project-image {
	height: 350px;
	margin: auto;
	max-width: 450px;
	width: 100%;
}

.project-image img {
	width: 100%;
}

.project-information {
	background-color: white;
	bottom: 0;
	border-radius: 20px;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 36px;
	height: 150px;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.project-title {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 150px;
	justify-content: center;
}

#sample-tracker-information {
	border: solid 3px #60f;
}

#cache-information {
	border: solid 3px #f09;
}

#knitting-information {
	border: solid 3px #00ffb3;
}

.project-description {
	align-content: space-around;
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	height: 350px;
}

.project-blurb {
	line-height: 24px;
}

.project-stack {
	font-style: italic;
	width: 100%;
}

.project-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.project-links a {
	align-items: center;
	color: black;
	display: flex;
}

.expand {
	margin-left: 7px;
}

.visit-site {
	height: 25px;
	margin-right: 10px;
	width: 25px;
}

#contacts {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

#contacts ul {
	list-style: none;
}

#contacts ul li {
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}

#contacts a {
	color: slategray;
}


@media screen and (min-width: 992px) {
  	header {
  		border: solid 1px black;
  		display: flex;
  		height: 130px;
  	}

  	.name {
		border-right: solid 1px black;
		font-size: 600%;
		padding: 0;
		width: 75%;
	}

	.nav {
		border-right: solid 1px black;
		width: 15%;
	}

	.nav ul li {
		padding: 0;
	}

	#nav-about {
		border-top: none;
	}

	#nav-contact {
		border-bottom: none;
	}	

	#avatar {
		margin-top: 0px;
		width: 10%;
	}

	.about-body {
		display: inline-grid;
		grid-template-columns: 33% 34% 33%;
		grid-template-rows: 75% 25%;
	}	

	.about-body p {
		box-sizing: border-box;
		padding: 0 25px;
	}

	section {
		border: solid 1px black;
		border-top: none;
		box-sizing: border-box;
		display: flex;
		padding: 50px 25px;
	}

	.section-title {
		font-size: 52px;
		padding: 0 0 10px 25px;
		text-transform: uppercase;
		width: 100%;
	}

	#projects {
		margin-top: 0;
	}

	.project {
		position: relative;
		min-width: 400px;
		width: 33%;
	}

	#contacts {
		margin-top: 0;
	}
}

@media screen and (min-width: 1200px) {
  	.name {
		font-size: 750%;
	}
  }






