* {
	margin: 0;
	padding: 0;	
}

body {
	font-family: 'Viga', sans-serif;
}

a {
	text-decoration: none;
}

section {
	width: 100%;
}

.main {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	margin: auto;
	width: 96%;
}


header {
	height: 50vh;
	margin-top: 20px;
	width: 100%;
}

.nav {
	font-size: 150%;
	text-transform: uppercase;
}

.nav ul {
	height: 100%;
	list-style: none;
}

.nav ul li {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 33%;
	justify-content: center;
	padding: 10px;
}

.nav a {
	color: black;
}

.nav a:visited {
	color: black;
}

#nav-about {
	border-top: 1px solid black;
}

#nav-projects {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

#nav-contact {
	border-bottom: 1px solid black;
}

.name {
	align-items: center;
	display: flex;
	font-size: 250%;
	justify-content: center;
	padding: 20px 0;
}

.name-letter {
	margin: 0 2%;
	position: relative;
}

#avatar {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	overflow: hidden;
}

#self-portrait {
	height: 90px;
	margin-top: 10px;
	position: relative;
	width: 68px;
}

#self-portrait div {
	position: absolute;
}

#hair {
	background-color: black;
	border-radius: 45% 45% 0 0;
	height: 90px;
	width: 68px;
}

#head {
	background-color: white;
	border-bottom: solid 2px black;
	border-radius: 0 0 50% 50%;
	height: 45px;
	left: 13px;
	top: 20px;
	width: 42px;
}

#bangs-left {
	background-color: black;
	border-radius: 40%;
	height: 20px;
	top: 7px;
	transform: rotate(-35deg);
	width: 48px;
}

#bangs-right {
	background-color: black;
	border-radius: 40%;
	height: 15px;
	left: 31px;
	top: 9px;
	transform: rotate(20deg);
	width: 31px;
}

#neck {
	background-color: white;
	border-radius: 0 0 50% 50%;
	height: 20px;
	left: 26px;
	top: 65px;
	width: 16px;
}

.glasses {
	background-color: white;
	border: solid 2px black;
	border-radius: 5px;
	height: 10px;
	top: 30px;
	width: 12px;
}

#glasses-left {
	left: 15px;
}

#glasses-right {
	left: 37px;
}

#glasses-bridge {
	border-top: solid 2px black;
	border-radius: 50%;
	height: 7px;
	left: 31px;
	top: 32px;
	width: 6px;
}

#tags {
	font-size: 18px;
	font-weight: bold;
	height: 20px;
	position: relative;
	width: 100%;
}

#tag-scroll {
	display: flex;
	height: 100%;
	justify-content: space-around;
	position: relative;
	right: 500%;
	width: 500%;
	animation: scrollTagsMobile 12s infinite;
}

#about {
	border-bottom: solid 2px black;
	justify-content: center;
}

.section-title {
	font-size: 36px;
	text-transform: uppercase;
	width: 100%;
}

.about-body {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	line-height: 36px;
	max-width: 1500px;
	padding: 30px 0;
}

.about-body p {
	box-sizing: border-box;
	padding: 25px;
}

.about-body p:nth-of-type(1) {
	grid-row: 1 / span 2;
}

#about-icons {
	display: none;
}

#projects {
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 50px;
	width: 100%;
}

.project {
	height: 500px;
	margin-bottom: 25px;
	position: relative;
}

.project-image {
	height: 350px;
	margin: auto;
	max-width: 450px;
	width: 100%;
}

.project-image img {
	width: 100%;
}

.project-information {
	background-color: white;
	bottom: 0;
	border-radius: 20px;
	box-sizing: border-box;
	font-size: 36px;
	height: 150px;
	overflow: hidden;
	padding: 0 20px;
	position: absolute;
	width: 100%;
}

.project-title {
	align-items: center;
	cursor: pointer;
	display: flex;
	height: 150px;
	justify-content: center;
}

#sample-tracker-information {
	border: solid 3px #60f;
}

#cache-information {
	border: solid 3px #aa37d7;
}

#knitting-information {
	border: solid 3px #3857d7;
}

.project-description {
	align-content: space-around;
	display: flex;
	flex-wrap: wrap;
	font-size: 20px;
	height: 350px;
}

.project-blurb {
	line-height: 24px;
}

.project-stack {
	font-style: italic;
	width: 100%;
}

.project-links {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.project-links a {
	align-items: center;
	color: black;
	display: flex;
}

.expand {
	margin-left: 7px;
}

.visit-site {
	height: 25px;
	margin-right: 10px;
	width: 25px;
}

#css-art {
	border-bottom: solid 1px black;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 10%;
}

#css-art-title {
	align-items: center;
	background-color: black;
	box-sizing: border-box;
	color: white;
	display: flex;
	height: 100px;
	font-size: 36px;
	justify-content: center;
	margin-bottom: 40px;
	text-transform: uppercase;
	width: 100%;
}

.art {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	width: 50%;
}

#css-art img {
	height: 150px;
}

#contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 60px;
	padding: 25px;
}

#contact ul {
	display: flex;
	justify-content: center;
	list-style: none;
	width: 100%;
}

#contact ul li {
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}

#contact a {
	color: slategray;
}

#credits {
	margin-top: 30px;
}


@media screen and (min-width: 992px) {
  	header {
  		border: solid 1px black;
  		display: flex;
  		height: 130px;
  	}

  	.name {
		border-right: solid 1px black;
		font-size: 600%;
		padding: 0;
		width: 75%;
	}

	.nav {
		border-right: solid 1px black;
		width: 15%;
	}

	.nav ul li {
		padding: 0;
	}

	#nav-about {
		border-top: none;
	}

	#nav-contact {
		border-bottom: none;
	}	

	#avatar {
		margin-top: 0px;
		width: 10%;
	}

	#about {
		border-bottom: solid 1px black;
	}

	.about-body {
		display: inline-grid;
		grid-template-columns: 33% 34% 33%;
		grid-template-rows: 75% 25%;
	}	

	.about-body p {
		box-sizing: border-box;
		padding: 0 25px;
	}

	#about-icons {
		align-items: center;
		background: black;
		color: white;
		display: flex;
		grid-column: 2 / span 2;
		justify-content: center;
	}

	#about-icons img {
		cursor: pointer;
		margin: 0 20px;
	}

	.science-highlight {
		color: #306bf1;
	}

	.art-highlight {
		color: #f06;
	}

	.magic-highlight {
		color: #9429ff;
	}

	section {
		border: solid 1px black;
		border-top: none;
		box-sizing: border-box;
		display: flex;
		padding: 50px 25px;
	}

	.section-title {
		font-size: 52px;
		padding: 0 0 10px 25px;
		text-transform: uppercase;
		width: 100%;
	}

	#projects {
		margin-top: 0;
	}

	.project {
		position: relative;
		min-width: 375px;
		width: 33%;
	}

	#css-art {
		align-content: flex-start;
		height: 200px;
		padding: 0;
	}

	#css-art-title {
		font-size: 22px;
		height: auto;
		margin: 0;
		text-orientation: upright;
		writing-mode: vertical-rl;
		width: 4%;
	}

	.art {
		align-items: center;
		border-right: solid 1px black;
		height: 100%;
		width: 24%;
	}

	.art:last-of-type {
		border-right: none;
	}

	#contact {
		margin-top: 0;
	}

	#tag-scroll {
		animation: scrollTags 12s infinite;
	}
}

@media screen and (min-width: 1200px) {
  	.name {
		font-size: 750%;
	}
  }

@media screen and (min-width: 1500px) {
  	section {
		padding: 70px 25px;
	}
}


@keyframes scrollTags {
  0% {right: 500%;}
  17% {right: 400%;}
  34% {right: 295%;}
  51% {right: 192%;}
  68% {right: 96%;}
  85% {right: 0;}
  100% {right: -100%;}
}

@keyframes scrollTagsMobile {
  0% {right: 500%;}
  17% {right: 400%;}
  34% {right: 298%;}
  51% {right: 196%;}
  68% {right: 98%;}
  85% {right: 0;}
  100% {right: -100%;}
}






